body {
    margin: 0;
    font-family: archivo narrow, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --photo-width: 40vw;
}

#main-wrapper {
    display: flex;
    flex-direction: row;
}

#logo-wrapper {
    background: url(./images/iva-7iSl3XkJkDM-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: var(--photo-width);
    position: relative;
}

#banner-wrapper {
    min-height: 33vh;
}

#banner {
    display: flex;
    opacity: 0.5;
    gap: 1rem;
    width: var(--photo-width);
    top: 12vh;
    background-color: #22181C;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#photo-footer {
    color: #EDEDF4;
    font-size: 1.1rem;
    position: absolute;
    bottom: 1rem;
    width: var(--photo-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-footer a {
    color: #EDEDF4;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

#content {
    background-color: #FFFFFF;
    font-weight: 900;
    min-height: 25vh;
    margin: 1rem 2rem;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

#main-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 50%;
    justify-content: space-between;
    align-items: center;
    max-width: 33vw;
    gap: 2rem;
    background-color: #EDEDF4;
    padding: 0 0 2rem 1rem;
    margin: 0 1rem;
}

#login {
    background-color: #FFFFFF;
    min-height: 33vh;
    max-height: 33vh;
}

#main-form div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 10vw;
}

#submit-btn {
    background-color: #DD6E42;
    color: #EDEDF4;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 2rem;
}

#logo {
    max-height: 15vh;
    max-width: 15vw;
    padding: 8px 0px;
    opacity: 1;
}

#logo-text {
    color: #EDEDF4;
    font-size: 3rem;
    opacity: 1;
}

#form-wrapper {
    background-color: #EDEDF4;
    min-height: 33vh;
}

#login-text {
    margin: 0 2rem;
    font-size: 1.1rem;
}

#login-link {
    text-decoration: none;
    color: #DD6E42;
    font-size: 1.1rem;
}

#form-header {
    margin: 1rem 0 1rem 2rem;
    font-size: 1.5rem;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.input-field:focus {
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.error:invalid {
    border: 1px solid red;
    border-radius: 4px;
}

.error:valid {
    border: 1px solid green;
    border-radius: 4px;
}